name: Run build for renovate PRs

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  check:
    runs-on: ubuntu-24.04
    outputs:
      javascript: ${{ steps.filter.outputs.javascript }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Check for changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            javascript:
              - 'package.json'
              - 'yarn.lock'
  build:
    if: ${{ github.actor == 'renovate[bot]' && needs.check.outputs.javascript == 'true' }}
    runs-on: ubuntu-24.04
    needs: check
    permissions:
      contents: write
      pull-requests: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.COMMIT_PAT }}

      - name: Set up Node.js
        uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: corepack yarn install

      - name: Run build
        run: corepack yarn build

      - name: Commit changes
        id: commit
        uses: stefanzweifel/git-auto-commit-action@8621497c8c39c72f3e2a999a26b4ca1b5058a842 # v5.0.1
        with:
          commit_message: 'Update dist/ after build'
