name: Run build for renovate PRs

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  check:
    runs-on: ubuntu-24.04
    outputs:
      javascript: ${{ steps.filter.outputs.javascript }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Check for changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            javascript:
              - 'package.json'
              - 'yarn.lock'
  build:
    if: ${{ github.actor == 'renovate[bot]' && needs.check.outputs.javascript == 'true' }}
    runs-on: ubuntu-24.04
    needs: check
    permissions:
      contents: write
      pull-requests: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.COMMIT_PAT }}

      - name: Enable corepack
        run: corepack enable

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: corepack yarn install

      - name: Run build
        run: corepack yarn build

      - name: Commit changes
        id: commit
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: 'Update dist/ after build'
