name: Test

on: [push]

jobs:
  test1:
    name: Test-Action
    runs-on: ubuntu-22.04
    continue-on-error: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Test Action
        id: test
        uses: ./
        with:
          base-image: library/nginx:1.21.0
          image: nginx/nginx-ingress:1.12.0
      - name: Get Test Output
        run: echo "Workflow Docker Image ${{ steps.test.outputs.needs-updating }}"
      - name: Check value
        run: echo "Needs updating"
        if: steps.test.outputs.needs-updating == 'true'
  test2:
    name: Test-Action
    runs-on: ubuntu-22.04
    continue-on-error: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Test Action
        id: test
        uses: ./
        with:
          base-image: nginx:1.21.0
          image: library/nginx:1.21.0
      - name: Get Test Output
        run: echo "Workflow Docker Image ${{ steps.test.outputs.needs-updating }}"
      - name: Check value
        run: echo "Does not need updating"
        if: steps.test.outputs.needs-updating == 'false'
