name: Workflow Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.ref_name }}-test-workflow
  cancel-in-progress: true

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  #####################################
  # Singe platform tests

  test1:
    name: Test Update Needed
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Test Action
        id: test
        uses: ./
        with:
          base-image: library/nginx:1.21.0
          image: nginx/nginx-ingress:2.1.0
          platforms: linux/amd64

      - name: Get Test Output (needs-updating=${{ steps.test.outputs.needs-updating }})
        run: |
          echo "Images: ${{ steps.test.outputs.diff-images }}"

      - name: Check value
        run: |
          if [[ "${{ steps.test.outputs.needs-updating }}" != "true" ]]; then
            exit 1
          fi

  test2:
    name: Test Update Not Needed
    runs-on: macos-15
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Test Action
        id: test
        uses: ./
        with:
          base-image: nginx:1.21.0
          image: library/nginx:1.21.0
          platforms: linux/amd64

      - name: Get Test Output (needs-updating=${{ steps.test.outputs.needs-updating }})
        run: |
          echo "Images: ${{ steps.test.outputs.diff-images }}"

      - name: Check value
        run: |
          if [[ "${{ steps.test.outputs.needs-updating }}" != "false" ]]; then
            exit 1
          fi

  test3:
    name: Test image with only one platform
    runs-on: windows-2025
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Test Action
        id: test
        uses: ./
        with:
          base-image: alpine:3.17.1
          image: lucacome/alpine-amd64

      - name: Get Test Output (needs-updating=${{ steps.test.outputs.needs-updating }})
        run: |
          echo "Images: ${{ steps.test.outputs.diff-images }}"

      - name: Check value
        run: |
          if [[ "${{ steps.test.outputs.needs-updating }}" != "false" ]]; then
            exit 1
          fi

  test4:
    name: Test Update Needed on ARM64
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Test Action
        id: test
        uses: ./
        with:
          base-image: nginx:1.21.0
          image: nginx/nginx-ingress:2.1.0
          platforms: linux/arm64

      - name: Get Test Output (needs-updating=${{ steps.test.outputs.needs-updating }})
        run: |
          echo "Images: ${{ steps.test.outputs.diff-images }}"

      - name: Check value
        run: |
          if [[ "${{ steps.test.outputs.needs-updating }}" != "true" ]]; then
            exit 1
          fi

  test386:
    name: Test Update Needed on 386
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Test Action
        id: test
        uses: ./
        with:
          base-image: debian:stable-slim
          image: lucacome/debian-386:13.0-slim
          platforms: linux/386

      - name: Get Test Output (needs-updating=${{ steps.test.outputs.needs-updating }})
        run: |
          echo "Images: ${{ steps.test.outputs.diff-images }}"

      - name: Check value
        run: |
          if [[ "${{ steps.test.outputs.needs-updating }}" != "true" ]]; then
            exit 1
          fi

  #####################################
  # Test with multiple platforms

  test5:
    name: Test Update Needed on multiple platforms with spaces
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Test Action
        id: test
        uses: ./
        with:
          base-image: nginx:1.21.0
          image: nginx/nginx-ingress:2.1.0
          platforms: linux/arm64, linux/amd64

      - name: Get Test Output (needs-updating=${{ steps.test.outputs.needs-updating }})
        run: |
          echo "Images: ${{ steps.test.outputs.diff-images }}"

      - name: Check value
        run: |
          if [[ "${{ steps.test.outputs.needs-updating }}" != "true" ]]; then
            exit 1
          fi

  test6:
    name: Test Update Not Needed on multiple platforms
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Test Action
        id: test
        uses: ./
        with:
          base-image: nginx:1.21.0
          image: library/nginx:1.21.0
          platforms: linux/arm64,linux/amd64

      - name: Get Test Output (needs-updating=${{ steps.test.outputs.needs-updating }})
        run: |
          echo "Images: ${{ steps.test.outputs.diff-images }}"

      - name: Check value
        run: |
          if [[ "${{ steps.test.outputs.needs-updating }}" != "false" ]]; then
            exit 1
          fi

  test7:
    name: Test GitHub
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Test Action
        id: test
        uses: ./
        with:
          base-image: nginx:1.25.2-alpine
          image: ghcr.io/nginxinc/nginx-gateway-fabric/nginx:1.0.0
          platforms: linux/arm64,linux/amd64

      - name: Get Test Output (needs-updating=${{ steps.test.outputs.needs-updating }})
        run: |
          echo "Images: ${{ steps.test.outputs.diff-images }}"

      - name: Check value
        run: |
          if [[ "${{ steps.test.outputs.needs-updating }}" != "false" ]]; then
            exit 1
          fi

  test8:
    name: Test GitHub with Login
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Login to Docker Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Test Action
        id: test
        uses: ./
        with:
          base-image: nginx:1.25.2-alpine
          image: ghcr.io/nginxinc/nginx-gateway-fabric/nginx:1.0.0
          platforms: linux/arm64,linux/amd64

      - name: Get Test Output (needs-updating=${{ steps.test.outputs.needs-updating }})
        run: |
          echo "Images: ${{ steps.test.outputs.diff-images }}"

      - name: Check value
        run: |
          if [[ "${{ steps.test.outputs.needs-updating }}" != "false" ]]; then
            exit 1
          fi

  test9:
    name: Test Update Not Needed on multiple (all) platforms
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Test Action
        id: test
        uses: ./
        with:
          base-image: nginx:1.21.0
          image: library/nginx:1.21.0
          platforms: all

      - name: Get Test Output (needs-updating=${{ steps.test.outputs.needs-updating }})
        run: |
          echo "Images: ${{ steps.test.outputs.diff-images }}"

      - name: Check value
        run: |
          if [[ "${{ steps.test.outputs.needs-updating }}" != "false" ]]; then
            exit 1
          fi

  #####################################
  # Test with platform variants

  test10:
    name: Test Update Needed (Docker login) on multiple platforms with variants
    runs-on: windows-2025
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Login to Docker Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Test Action
        id: test
        uses: ./
        with:
          base-image: alpine:latest
          image: golang:1.14.15-alpine3.13
          platforms: linux/arm64/v8,linux/arm/v7,linux/amd64

      - name: Get Test Output (needs-updating=${{ steps.test.outputs.needs-updating }})
        run: |
          echo "Images: ${{ steps.test.outputs.diff-images }}"

      - name: Check value
        run: |
          if [[ "${{ steps.test.outputs.needs-updating }}" != "true" ]]; then
            exit 1
          fi

  test11:
    name: Test Update Not Needed on multiple platforms with variants
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Test Action
        id: test
        uses: ./
        with:
          base-image: alpine:3.17.2
          image: alpine:3.17.2
          platforms: |
            linux/arm64/v8
            linux/arm/v7
            linux/amd64

      - name: Get Test Output (needs-updating=${{ steps.test.outputs.needs-updating }})
        run: |
          echo "Images: ${{ steps.test.outputs.diff-images }}"

      - name: Check value
        run: |
          if [[ "${{ steps.test.outputs.needs-updating }}" != "false" ]]; then
            exit 1
          fi
